
body { margin-top: 0em; margin-top: 0em;
    font-family: 'Times New Roman', Times, serif; 
    }
header {
  text-align: right;
    font-family: 'comic sans-serif';
    color: white;
 }


/* .text-with-background {

    background-image: url('img/ba1.jpg');
    
    
} */